.bar {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 100;
}

.navbar {
  background-color: rgb(255, 255, 255);
  width: 100vw !important;
}

.navbar-brand {
  font-weight: bold;
  margin-left: 15rem;
}

.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  .navbar-brand {
    margin-left: 5rem;
  }
}

html {
  scroll-behavior: 70px;
}

.active:hover {
  text-shadow: 4px 1px 5px rgb(42, 41, 41);
}
