#container_grid {
  width: 80%;
  margin: 0 auto;
}

#grid {
  padding: 2em 3em;
  columns: 2;
  column-gap: 4em;
}

.card {
  background-color: rgb(7, 37, 34);
  color: rgb(226, 210, 210);
  opacity: 0.9;
  border-radius: 2em;
  text-align: center;
}
.car {
  border-radius: 4px;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  animation: view linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 35%;
}

.b {
  font-size: 2em;
  color: aliceblue;
}
.b:hover {
  transition: 0.25s;
  font-size: 2.3em;
  text-shadow: 5px 5px 5px rgb(115, 183, 149);
}
@keyframes view {
  from {
    opacity: 0;
    translate: 0 100px;
    scale: 0.8;
  }
  to {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}

img {
  width: 100%;
  max-height: 15em;
}

@media screen and (max-width: 780px) {
  .trabajo {
    flex-direction: column;
    height: 23.5em;
  }

  .image {
    width: 90%;
    margin-left: 5%;
  }
}

.trabajo {
  background-color: rgb(52, 26, 21);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 19em;
  margin-top: 5em;
}
.image {
  display: inline-block;
  width: 100%;
  border-radius: 1em;
}
