.car {
  position: relative;
  margin: 3.5em 0em;
}

.sub {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 2rem;
  padding: 10px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.be5 {
  position: absolute;
  top: 70%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 3rem;
  margin-left: -1rem;
}

.be {
  position: absolute;
  top: 70%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 3rem;
  margin-left: 1rem;
}

.ca:hover {
  opacity: 0.5;
  transform: scale(1.05);
}

.b:hover {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgb(62, 103, 144);
}

@media screen and (max-width: 820px) {
  .car {
    margin-top: 3em;
  }
  .z {
    margin-top: 5.5em;
  }
}

.y {
  color: aliceblue;
}
.z {
  display: flex;
  justify-content: center;
  align-items: center;
}
