.img {
  border-radius: 5em;
  width: 105%;
  height: auto;
  padding: 4em;
  margin-top: 5em;
}

.container {
  height: 4em;
}

.ca {
  height: 13em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ca:hover {
  opacity: 0.5;
  transform: scale(1.05);
}

@media screen and (max-width: 780px) {
  .img {
    border-radius: 1em;
    width: 95vw;
    height: auto;
    padding: 0.5em;
  }
}
