.img {
  border-radius: 1em;
  height: 11em;
  width: 20em;
}

.container {
  height: 4em;
}

.ca {
  height: 13em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
